/* Footer Styles */
footer {
  

}

footer p {
  margin: auto !important;
  padding: 0 !important;
}

@media (max-width: 649px) {
  body {
    margin-bottom: 0px !important;
  }

  footer {
    height: auto !important;
    font-size: 12px !important;
  }
}

@media (min-height: 710px) {
  footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 30px !important;
    padding: 10px !important;
  }
}

@media (prefers-color-scheme: light) {
  footer {
    background-color: #ebedfd !important;
  }
}